* {
  margin: 0;
  padding: 0;
  list-style: none; }

@media screen and (max-width: 321px) {
  .m-navlist {
    font-size: 15px; } }
@media screen and (min-width: 321px) and (max-width: 400px) {
  .m-navlist {
    font-size: 16px; } }
@media screen and (min-width: 400px) {
  .m-navlist {
    font-size: 18px; } }
header {
  width: 100%;
  display: flex;
  height: 1.2rem;
  justify-content: space-between; }
  header .head1 {
    width: 30%;
    height: 0.8rem; }
    header .head1 img {
      width: 100%;
      height: 0.8rem;
      margin-top: 0.16rem;
      margin-bottom: 0.16rem;
      margin-left: 0.18rem; }
  header .head2 {
    width: 35%;
    text-align: center;
    line-height: 1rem;
    font-size: 0.36rem;
    margin-top: 0.16rem;
    margin-bottom: 0.16rem; }
  header .head3 {
    width: 30%;
    display: flex;
    font-size: 0.22rem;
    margin-top: 0.16rem;
    margin-bottom: 0.16rem;
    justify-content: space-around; }
    header .head3 .head3-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #999999; }
      header .head3 .head3-1 span {
        font-size: 0.45rem; }
      header .head3 .head3-1 p {
        font-size: 0.22rem; }

.box1 {
  height: 3rem;
  margin-bottom: 0.2rem; }
  .box1 img {
    width: 100%;
    height: 100%; }

.box2 {
  margin: 0 auto;
  border-bottom: 1px solid #999999;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .box2 div:nth-of-type(1) {
    width: 100%;
    height: 0.5rem;
    letter-spacing: 0.05rem;
    background: #F4F4F4;
    padding-left: 0.05rem;
    font-size: 0.24rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.36rem; }
  .box2 div:nth-of-type(2) {
    font-size: 0.36rem;
    letter-spacing: 0.05rem; }
  .box2 div:nth-of-type(3) {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.28rem;
    color: #999999; }
    .box2 div:nth-of-type(3) span {
      margin-left: 0.1rem; }

.box3 {
  width: 100%;
  display: flex;
  margin-top: 0.36rem;
  align-content: center;
  flex-wrap: wrap; }
  .box3 div {
    text-align: center;
    padding: 0.08rem;
    line-height: 0.32rem;
    margin-bottom: 0.18rem;
    height: 0.32rem;
    border-radius: 0.2rem;
    letter-spacing: 0.02rem;
    color: #999999;
    font-size: 0.24rem;
    border: 1px solid #999999;
    margin-left: 0.12rem; }

.box4 {
  width: 95%;
  margin: 0 auto;
  font-size: 0.24rem;
  color: #666666;
  text-indent: 0.57rem;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 0.4rem; }

.boxss {
  margin-top: 0.18rem;
  margin-bottom: 0.3rem; }

.box5 {
  width: 70%;
  margin: 0 auto; }
  .box5 img {
    width: 100%;
    margin-bottom: 0.5rem; }

.box6 {
  width: 95%;
  margin: 0 auto;
  border: 1px solid #39C894;
  height: 0.7rem;
  color: #39C894;
  border-radius: 0.08rem;
  font-size: 0.36rem;
  text-align: center;
  line-height: 0.7rem; }

.box7 {
  width: 100%;
  display: flex;
  height: 2.3rem;
  justify-content: center;
  align-items: center; }
  .box7 .fx-1 {
    width: 50%;
    display: flex;
    margin-top: 0.18rem;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .box7 .fx-1 span {
      text-align: center;
      line-height: 1rem;
      color: #75C3FB;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      margin-bottom: 0.23rem;
      border: 0.04rem  solid #75C3FB;
      font-size: 0.58rem; }
    .box7 .fx-1 div {
      font-size: 0.24rem;
      color: #7DBFF9;
      margin-bottom: 0.36rem; }
  .box7 .fx-2 {
    width: 50%;
    margin-top: 0.18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .box7 .fx-2 span {
      text-align: center;
      line-height: 1rem;
      color: #FDB705;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      margin-bottom: 0.23rem;
      border: 0.04rem  solid #FDB705;
      font-size: 0.58rem; }
    .box7 .fx-2 div {
      font-size: 0.24rem;
      color: #FDB705;
      margin-bottom: 0.36rem; }

.gray {
  height: 0.2rem;
  background: #f4f4f4;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem; }

.box8 {
  margin: 0 auto;
  width: 98%; }
  .box8 ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .box8 ul li {
      width: 95%;
      height: 1.45rem;
      padding-bottom: 0.31rem;
      margin-top: 0.31rem;
      border-bottom: 0.1px solid #cacaca; }
      .box8 ul li .box8-1 {
        width: 35%;
        float: left;
        height: 100%; }
        .box8 ul li .box8-1 img {
          width: 100%;
          height: 100%; }
      .box8 ul li .box8-2 {
        width: 60%;
        float: right;
        height: 100%; }
        .box8 ul li .box8-2 p {
          font-size: 0.36rem; }
        .box8 ul li .box8-2 span {
          display: inline-block;
          margin-top: 0.1rem;
          color: #999999; }
        .box8 ul li .box8-2 .span1 {
          font-size: 0.3rem; }
        .box8 ul li .box8-2 .span2 {
          font-size: 0.28rem;
          margin-left: 0.15rem; }
        .box8 ul li .box8-2 .span3 {
          font-size: 0.5rem;
          margin-left: 0.4rem; }
      .box8 ul li .fangwen {
        display: flex;
        align-items: center; }
    .box8 ul li:nth-last-of-type(1) {
      border: none; }
  .box8 .xihuan {
    width: 95%;
    display: flex;
    height: 0.42rem;
    margin: auto;
    align-items: center; }
    .box8 .xihuan span {
      width: 0.05rem;
      background: #39C894;
      height: 0.42rem;
      margin-right: 0.18rem; }
    .box8 .xihuan .p1 {
      font-size: 0.36rem;
      letter-spacing: 0.03rem; }

.box9 {
  width: 100%;
  margin: 0 auto; }
  .box9 div {
    width: 100%;
    display: flex; }
    .box9 div p {
      margin: 0.2rem;
      font-size: 0.28rem;
      text-indent: 0.57rem;
      line-height: 0.52rem; }

footer {
  width: 100%;
  margin-top: 0.3rem;
  text-align: center; }
  footer div {
    width: 100%;
    height: 0.94rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer div .footer-p {
      font-size: 0.45rem;
      color: #39C894; }
    footer div span {
      font-size: 0.28rem; }
  footer ul {
    width: 100%;
    height: 0.5rem; }
    footer ul li {
      width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      font-size: 0.32rem; }
    footer ul li:nth-of-type(1) {
      color: #39C893; }

.mb {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  height: 1.06rem; }
  .mb .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.35rem;
    height: 0.35rem; }
  .mb .img2 {
    width: 1.06rem;
    height: 1.06rem;
    margin-right: 0.3rem; }
  .mb div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .mb div p:nth-of-type(1) {
      font-size: 0.32rem;
      color: #DFC716; }
    .mb div p:nth-of-type(2) {
      font-size: 0.32rem;
      color: white; }
  .mb button {
    width: 1.75rem;
    height: 0.5rem;
    background: #feb605;
    border: none;
    border-radius: 0.8rem;
    color: white;
    margin-left: 0.2rem;
    font-size: 0.24rem; }

.h106 {
  height: 1.06rem; }

/*# sourceMappingURL=five.css.map */
